
@media screen and (min-width:1000px) and (max-width:1440px){
    .main-menu{
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav{
        padding: 10px;
    }
    #first{
        padding: 55px;
    }
    #first h1{
        font-size: 42px;
    }
    #second{
        padding: 20px;
    }
    #second h1{
        font-size: 42px;
        margin-top: 20px;
    }
    #second img{
        width: 100%;
    }
    #second .content{
        padding: 20px;
    }
    #third .content{
        height: 80px;
        padding-top: 20px;
    }
    #fourth{
        padding: 50px 10px
    }
    #fourth .container{
        margin-top: 0px;
    }
    #fourth .content{
        margin-top: 80px;
    }
    #fourth .block{
        padding: 25px;
    }
    #fourth .block img{
        margin-top: -70px;
        margin-right: -125px;
    }
    #fourth .content .arrow-first img{
        margin-top: 70px;
        width: 100%;
    }
    #fourth .second-row{
        margin-top: 100px;
    }
    #fifth{
        padding: 75px 10px;
        text-align: center;
    }
    #fifth img{
        margin-top: 25px;
    }
    #sixth{
        text-align: center;
    }
    #sixth h1{
        margin-top: 0px;
        font-size: 28px;
        line-height: 55px;
    }
    #last{
        padding: 50px 30px;
        text-align: center;
    }
    #last .row .footer-logo{
        width: 100%;
    }
}

@media screen and (min-width:500px) and (max-width:1000px){
    .main-menu{
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav{
        padding: 10px;
    }
    #first{
        padding: 55px;
    }
    #first h1{
        font-size: 42px;
    }
    #second{
        padding: 20px;
    }
    #second h1{
        font-size: 42px;
        margin-top: 20px;
    }
    #second img{
        width: 100%;
    }
    #second .content{
        padding: 20px;
    }
    #third .content{
        height: 80px;
        padding-top: 20px;
    }
    #fourth{
        padding: 50px 10px
    }
    #fourth .container{
        margin-top: 0px;
    }
    #fourth .content{
        margin-top: 80px;
    }
    #fourth .block{
        padding: 25px;
    }
    #fourth .block img{
        margin-top: -70px;
        margin-right: -125px;
    }
    #fourth .content .arrow-first img{
        margin-top: 90px;
        width: 100%;
    }
    #fourth .second-row{
        margin-top: 100px;
    }
    #fifth{
        padding: 75px 10px;
        text-align: center;
    }
    #fifth img{
        margin-top: 25px;
    }
    #sixth{
        text-align: center;
    }
    #sixth h1{
        margin-top: 0px;
        font-size: 28px;
        line-height: 55px;
    }
    #last{
        padding: 50px 30px;
        text-align: center;
    }
    #last .row .footer-logo{
        width: 100%;
    }
}
@media screen and (min-width:300px) and (max-width:500px){
    .main-menu{
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav{
        padding: 10px;
    }
    #first{
        padding: 20px;
    }
    #first h1{
        font-size: 42px;
    }
    #second{
        padding: 20px;
    }
    #second h1{
        font-size: 42px;
        margin-top: 20px;
    }
    #second img{
        width: 100%;
    }
    #second .content{
        padding: 20px;
    }
    #fourth{
        padding: 50px 10px
    }
    #fourth .container{
        margin-top: 0px;
    }
    #fourth .content{
        margin-top: 80px;
    }
    #fourth .block{
        padding: 25px;
    }
    #fourth .block img{
        margin-top: -70px;
        margin-right: -125px;
    }
    #fourth .content .arrow-first{
        margin-top: 90px;
    }
    #fourth .second-row{
        margin-top: 100px;
    }
    #fifth{
        padding: 75px 10px;
        text-align: center;
    }
    #fifth img{
        margin-top: 25px;
    }
    #sixth{
        text-align: center;
    }
    #sixth h1{
        margin-top: 0px;
        font-size: 28px;
        line-height: 55px;
    }
    #last{
        padding: 50px 30px;
        text-align: center;
    }
}

