.main-menu{
    background: #7cc142;
    color: #ffffff;
    padding: 20px 400px;
}
.main-menu .nav-link{
    color: #ffffff !important;
}
.main-menu .nav-item{
    padding-right: 10px;
    padding-left: 10px;
}
.btn-white{
    color: white;
    border-color: white;
}

.btn-white:hover{
    color: black;
    background: white;
    border-color: white;
}
.mr-50{
    margin-right: 50px;
}
.ml-50{
    margin-left: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
.btn-border-radius{
    border-radius: 15px;
}
.nav .nav-link{
    color:#000000;
}
.nav{
    padding: 10px 250px;
}
#first{
    background-image: url('../images/bg/header.png');
    text-align: right;
    padding: 250px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#first h1{
    font-size: 72px;
    font-weight: 500;
}
#first p{
    font-size: 20px;
    font-weight: 400;
}

#second{
    text-align: right;
    padding: 50px;
    color: #000;
}
#second h1{
    font-size: 72px;
    font-weight: 500;
    margin-top: 100px;
}
#second p{
    font-size: 20px;
    font-weight: 400;
    color: #7f7f7f;
}
#second .content{
    padding-right: 235px;
    text-align: justify;
}

#third{
    text-align: center;
    padding: 50px;
    color: #000;
}
#third h1{
    font-size: 56px;
    font-weight: 500;
}
#third p{
    font-size: 18px;
    font-weight: 400;
    color: #7f7f7f;
    margin-top: 35px;
}
#third .content{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    height: 150px;
    padding-top: 50px;
    margin-right: 20px;
}
.content_first h3{
    font-size: 30px;
    font-weight: 400;
}
.mt-50{
    margin-top: 50px;
}
#fourth{
    text-align: center;
    padding: 50px;
    background: #f6f8f8;
}
#fourth .container{
    margin-top: 75px;
}
#fourth .block{
    border-radius: 40px;
    background-color: #ffffff;
    padding: 70px;
}
#fourth .content{
    margin-top: 145px;
}
#fourth .content .arrow-first{
    margin-top: 140px;
}
#fourth .block h1{
    font-size: 24px;
    font-weight: 500;
}
#fourth .block p{
    border-radius: 40px;
    background-color: #ffffff;
    text-align: justify;
}
#second_block, #fourth_block{
    margin-top: 110px;
}
#fourth .block img{
    margin-top: -130px;
    margin-right: -250px;
}
#fifth{
    text-align: right ;
    padding: 150px 10px;
}
#fifth h1{
    font-size: 56px;
    font-weight: 500;
}
#fifth p{
    font-size: 18px;
    font-weight: 400;
    color: #7f7f7f;
}
#fifth img{
    width: 100%;
}
#sixth{
    text-align: right ;
    padding: 100px 10px;
    background-color: #36bfcd;
}
#sixth h1{
    margin-top: 100px;
    font-size: 56px;
    font-weight: 500;
    line-height: 78.4px;
    color: #ffffff;
}
.btn-white-background{
    background: white;
    color: #2f3132;
    font-family: "DIN Next LT Arabic Medium" ,sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#sixth button{
    padding: 10px 20px;
    box-shadow: 0 0px 5px;
    border-radius: 19px;
    margin-top: 30px;
}
#sixth button img{
    margin-right: 20px;
}
#last{
    padding: 100px 100px;
    text-align: right;
}
#last p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #818889;
}
#last .list{
    padding-right: 0;
}
#last .list .list-item{
    display: block;
    padding: 0.25rem 1.25rem;
}
#last .list .list-item a{
    color: #818889;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
}
#last .list .list-item a:hover{
    color: #818889;
    text-decoration: none;
}
#last .list .list-item img{
    margin-left: 10px;
}
footer{
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px 40px;
}
footer p{
   margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7f7f7f;
}
